/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

body {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  background-color: #ffffff;
  height:100%;
}
.ui.massive.ui.navbar.menu {
  background-color: #82ecff;
  align-items: center;
  text-align: center;
}

.session {
  width: ;
  text-align: center;
}

.right.menu {
  margin-left: 0px;
}
.ui.large.fluid.button.user.dropdown {
  background-color: #82ecff;;
  color: #3a7999;
  margin-top: 1em;
  border: 1px solid #42b9f4;
  text-align: center;
}

.ui.large.fluid.button.user.dropdown:hover {
  background-color: #ffffff;
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.ui.center.aligned.header {
  background-color: #80FFE8;
  margin-top: 0;
}

.ui.divider {
  border-top-width: 0px;
  margin-bottom: 0px;

}

.column.menu {
  width: 100%;
  height: 100%;
}

.menubar.item {
  font-size: 36px;
}

.user {
  width: 100%;
  height:100%;
}


.main.comment {
  overflow-y: scroll;
}

.outer {
  justify-content: center;
  background-color: ;
  justify-content: center;
}

.button.likes {
  background-color: #fffaf0;
}

#form-textarea-control-opinion {
  margin-top: 10px;

}

#form-button-control-public {
  margin-bottom: 30px;
}


.reply.styling {
  border-radius: 10px;
}

.ui.form.textarea {
  background-color: white;
}

.row.grid {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}


.eight.wide.column {
  background-color: white;
}

.twelve.wide.column {
  margin-left: 10px;
  justify-content: center;
  align-items: center;
}

.thumbsup.label:hover {
  background-color: #f64c72;
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.ui.button.floating.labeled.dropdown.icon{
  background-color: #82ecff;
}


.left.aligned.center.aligned.column.reply {
  margin-top: 10px;
}


.ui.threaded.comments {
  display:inline;
}


.ui.container.container {
  /* margin-bottom: 15px; */
}


.ui.container {
  justify-content: center;
  align-items: center;
}

.uicentered.center.aligned.center.aligned.one.column.grid {
  padding: 30px;
}


#root {
  height: 100%;
}

.style {
  height: 100%;
  display: block;
}

.dashboard.card.style {
  height:15vh;
  padding: 10px;
  margin:20px;
}

.menu.style {
  padding:10px;
  margin: 20px;
}

.user.dashboard.menu {
  background-color: #82ecff;
  justify-content: center;
  margin-bottom: 2em;
  align-items: center;


}
.user.dashboard.menu:hover {
  background-color: #ffffff;
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.teacher.dashboard.menu {
  background-color: #82ecff;
  justify-content: center;
  margin-bottom: 2em;
  align-items: center;
  width:100%;
}
.teacher.dashboard.menu:hover {
  background-color:#ffffff;
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}


h2 {
    margin-top: 0px;
    margin-left: 25px;
    text-align: center;
}

.ui.cardItem {
  width: 100%;
  height: 50%;
  background-color: #82ecff;
}


.stretched.left.floated.four.wide.column.style {
  border-right: 1px solid gray;
}

.stretched.row.toolbar {
  width: 80%%;
  height: 5vh;
  margin-left: 20px;
  margin-bottom: 10px;
}

.margin.left {
  padding: 20px;
}

.style.card.display {
  background-color: #ddfbff;
}

.user.grid {
  max-height: 80vh;
  display: flex;
  flex-direction: row;
}

.right.col {
  height: 100%;
  width: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.right.col.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
}
.right.col.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.content.dashboard {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  flex-direction: row;
  align-content: flex-start;
}

.card.container {
  height: 18%;
  width: 30%;
  margin: 1em;

}

.content.unactive {
  height: 71vh;
  width: 100%;
  color: #adadad;
}

.content.unactive > h2 {
  padding-top: 26%;
  height: 71vh;
}

.pdf.view {
  height: 100%;
  width:100%;
  justify-content: center;
  align-items: center;
}
.pdf.view:hover {
  overflow-y: scroll;
}

.toolbar.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #82ecff;
  justify-content: space-between;
  border-radius: 5px;
}

.toolbar.teacher.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #82ecff;
  justify-content: space-between;
  border-radius: 5px;
}

.content.dashboard {
  color: #3a7999;
  overflow-y: scroll;
}

.right.part {
  display: flex;
  align-items: center;
}


canvas {
  width:100%;
  height: 100%;
}


.ui.loader {
  width: 100%;
  height:100%;
}

.add.option {
  text-align: center;
}

.send.option {
  text-align: center;
  width: 100%;
}

.answer.options {
  text-align: center;
  margin-top: 2em;
}

.button.view {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ui.button.add {
  margin-top: 2em;
  width: 30%;
  background-color: #82ecff;
}
.ui.button.add:hover {
  background-color: #ffffff;
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.ui.button.send {
  width: 30%;
  background-color: #82ecff;
}

.ui.button.send:hover {
  background-color: #ffffff;
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}



.userinterface.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  height: 85vh;
  width:50%;
}

.userinterface.wrapper > * {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
}

.emotiongrid.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  height: 80vh;
  width:100%;
}

.emotiongrid.wrapper > * {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
}


.left.col {
  height: 86vh;
  width: 33%;
  padding-top: 13.5em;
  padding-right: 1em;
  border-right: 1px solid gray;
  background-color: #ffffff;
}
.question.col {
  height: 86vh;
  width: 33%;
  padding-right: 1em;
  border-right: 1px solid gray;
  background-color: #ffffff;
}

.chat.grid {
  max-height: 80vh;
  display: flex;
  flex-direction: row;
}

.emotion.col {
  width: 17%;
  height: 80vh;
  border-left: 1px solid gray;
}

.usergrid.main {
  text-align: left;
  overflow:hidden;
  height: 80%;
  padding: 0em;
  width: 100%;
}

.main.comment.wrapper {
  width: 100%;
  padding: 0em;
}

.main {
  text-align: left;
  overflow:hidden;
  max-height: 80vh;
  padding: 1em;

}


.emotion.main {
  height: 68vh;
  width: 100%;
  /* display: flex;
  flex-direction: column; */
}

/* .emoji.div {
  height: 25%;
  width: 100%;
  align-items: center;
  vertical-align: middle;
} */

.header {
  text-align: center;
  justify-content: center;

  height: 8%;
}

.footer {
  width: 100%;
  display: flex;
  height: 10%;
}

.footer.student {
  width: 100%;
  display: flex;
  height: 6%;
  justify-content: center;
  align-items: center;
}

.ui.circular.label {
  background-color: white;
}

.input.textarea {
  width: 100%;
  overflow: hidden;

}

textarea {
  overflow: hidden;
}

.ui.form.input.field {
  width: 90%;
  float:left;
}

.emoji {
  float:left;
}

.stats.section {
  margin-left: 2em;
}

.ui.button.ui.circular.center.aligned.segment.thumbsup {
  box-shadow: 0 0 0 0;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: green;
  /* height: 65%;
  width: 35%; */
}
.ui.button.ui.circular.center.aligned.segment.okay {
  box-shadow: 0 0 0 0;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #8cffa3;

  /* height: 65%;
  width: 35%; */
}
.ui.button.ui.circular.center.aligned.segment.thumbsdown {
  box-shadow: 0 0 0 0;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #f97a80;
  /* height: 20%; */
  /* height: 65%;
  width: 35%; */
}
.ui.button.ui.circular.center.aligned.segment.blown {
  box-shadow: 0 0 0 0;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: red;
  /* height: 65%;
  width: 35%; */
}

.ui.button.ui.circular.center.aligned.segment.inactive {
  box-shadow: 0 0 0 0;
  margin-right: 0px;
  margin-bottom: 0px;
  /* height: 65%;
  width: 35%; */
}

.ui.button.small.circular.center.aligned.segment.okay {
  box-shadow: 0 0 0 0;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #82ecff;
}

.ui.button.small.circular.center.aligned.segment.inactive {
  box-shadow: 0 0 0 0;
  margin-right: 0px;
  margin-bottom: 0px;
}

.teacher.grid {
  height:80vh;
  display: flex;
  flex-direction: row;
}

.lecture.view.grid {
  height:80vh;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}

.most.outer.left {
  width: 8%;
  height: 80vh;
}

.left.column.teacher.lecture {
  width: 42%;
  height: 80vh;
}

.right.column.teacher.lecture{
  width: 50%;
  height: 80vh;
  align-items: center;
  justify-content: center;
  border-left: 1px solid gray;
}

.ui.center.aligned.header.commentblock {
  background-color: #ffffff;
}

.most.viewed.questions {
  height:50%;
  width: 100%;
}

.emotions.teacher.view {
  height:50%;
  width: 100%;
  text-align: center;
}

.header.questions {
  text-align: center;
  justify-content: center;
  margin-top: 1em;
  height: 15%;
}

.main.list.content {
  width:100%;
  height:80%;
  padding: 0em;
  padding-left: 1em;
}

.list.content {
  height: 30%;
  width:100%;
}

.list.content.wrapper {
  height:100%;
}

.main.emoji.content  {
  height: 70%;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.emoji.container {
  width: 100%;
  height: 100 %;
  align-items: center;
  justify-content: center;
  padding-top: 5em;
  display: flex;
  flex-flow: row wrap;
}

.emoji-mart-emoji {
  /* margin-left: 3em; */
}

.emoji.content {
  width: 20%;
  float:left;
  align-items: center;
  justify-content: center;
}

.viewport {
  height: 90vh;
}

.pdf.wrapper {
  height: 80vh;
}

.dropzone.outer.wrapper {
  height: 80vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dropzone.inner.wrapper {
  height: 80vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dropzone.area {
  height: 70vh;
  width: 90%;
  border: 1px solid gray;
  margin-left: 2em;
  border-style:dashed;
  justify-content: center;
  align-items: center;
  border-radius: 10px
}

.dropzone.button {
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.ui.massive.button {
  background-color: #82ecff;
}

.ui.massive.button:hover {
  background-color: #ffffff;
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.drag.and.drop {
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  color: grey;
}

.massive.icon  {
    line-height: 1;
    vertical-align: middle;
    font-size: 8em;
    margin-top: 25%;
    margin-bottom: 5%;
}

.ui.button.button.active {
  background-color: #ff2d34;
  height: 70vh;
}

.add.circle.large.bordered.circular.icon {
  margin-left: 0.3em;
}

.ui.button.button.unactive {
  background-color: #2dff4c;
  height: 70vh;
}

.ui.button.button.unactive:hover {
  background-color: #a6fc98;
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.ui.button.button.active:hover {
  background-color: #ff6b6d;
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.pager {
  float: left;
  margin-left: 1em;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.nav.col {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.ui.button.teacher.act {
  background-color: #68ff72;
}

/* .student.act:hover {
  background-color: #68ff72;
} */


.ui.button.student.act {
  background-color: #68ff72;
}


/* .teacher.act:hover {
  background-color: #68ff72;
} */


/* CSS for Chat component */

.text {
  padding-top: 0.2em;
  padding-left: 0.5em;
  height: 1.7em;
}

/* .content:hover {
  background-color: #f9f9f9;
} */

.ui.comments.comment.a.author {
  font-size: 1.8em;
}

.comment.metadata {
  font-size: 1em;
}

.ui.container.container {
  font-size: 1.5em;
}

.ui.threaded.comments .comment .comments {
  font-size: 1em;
  padding-top: 1em;
  padding-bottom: 0em
}

.ui.comments .comment .actions {
  padding-left: 1em;
  margin-bottom: 2em;
}

.ui.comments .comment>.content{
  margin-bottom: 1.5em;
}

.ui.comments .comment .metadata {
  font-size: 0.6em;
}

.ui.button.ui.circular.label.emoji.unactive {
  background-color: white;
  height: 1em;
}

.ui.button.ui.circular.label.emoji.active {
  background-color: #e5f9ff;
  border: 0.6px solid #245d8c;
  height: 1em;
}

.ui.button.ui.circular.label:hover{
  background-color: #ffffff;
  color: #3a7999;
  box-shadow: inset 0 0 0 2px #3a7999;
}
.hvr-round-corners {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-radius;
  transition-property: border-radius;
}
.hvr-round-corners:hover, .hvr-round-corners:focus, .hvr-round-corners:active {
  border-radius: 1em;
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background-color: #82ecff;
  justify-content: center;
  margin-bottom: 2em;
  align-items: center;
  width:90%;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #1d69bb;
  height: 100%;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal.input {
  width: 90%;
}
